<div class="grid-block">
  <div class="medium-2 large-2 grid-content users-container" autoscroll="true">
    <h5>Users List</h5>
    <ul class="menu-bar vertical">
      <li ng-repeat="user in users" ui-sref-active="is-active">
        <a ui-sref="users.UserInfo( {login: '{{user.login}}'} )">
          <img src="{{user.avatar_url}}" class="iconic">
          {{user.login}}
        </a>
      </li>
    </ul>
    <a class="button expand loadmore"
      ng-click="getNextPage()"
      ng-class="loadingNewPage ? 'disabled' : 'not-disabled'">
      <span ng-if="!loadingNewPage">Load More</span>
      <span ng-if="loadingNewPage">Loading...</span>
    </a>
  </div>
  <div class="medium-10 large-10 grid-content profile-container" autoscroll="true">
    <div ui-view></div>
  </div>
</div>